header {
    position: relative;
    height: 2.5cm;
    border: 1px solid black;
    margin-bottom: 2.5mm;
    padding-top: 0.25mm;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    z-index: 100;
    text-align: center;
    overflow: hidden;
}

.h1CWSC {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 300%;
    top: 2mm;
    left: 4mm;
}

.logoCalvicii {
    position: relative;
    height: 1.5cm;
    top: 3.25mm;
    left: 2.5mm;
}

.login {
    position: relative;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1.25mm;
    border-radius: 10px;
    right: 7.5mm;
}

.login:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.downloads {
    position: relative;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1.25mm;
    border-radius: 10px;
    left: 2cm;
}

.downloads:hover {
    background-color: rgba(0, 0, 0, 0.1);
}