* {
    overflow-x: hidden;
    font-family: Gilroy Light;
}

.videoFeed {
    position: relative;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid black;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.videoPlayer {
    border: 1px solid black;
    margin: 2.5mm;
}

.videoPlayer h2 {
    margin-left: 2.5mm;
}

#video {
    width: 95%;
    margin: 2.5mm;
}